&.section-services {
  background-color: #d9d9d9;
  z-index: 6;
  position: relative;

  h2 {
    background: image-url('bg/h2-services-bg.jpg');
  }

  .desc {
    text-align: center;
  }

  .title {
    position: relative;
    color: #9c9583;

    &:before {
      @include pseudo-block($bottom: 0, $left: 50%);
      @include transform(translateX(-50%));
      background: #e6e6e6;
    }
  }

  .item {
    display: inline-block;
    vertical-align: top;
  }

  .text {
    font-family: $firasans-regular;
    color: #595959;
  }
}