@font-face {
  font-family: 'firasans-bold';
  src: url('../fonts/firasans-bold-webfont.eot');
  src: url('../fonts/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/firasans-bold-webfont.woff') format('woff'),
  url('../fonts/firasans-bold-webfont.ttf') format('truetype'),
  url('../fonts/firasans-bold-webfont.svg#firasans-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'firasans-light';
  src: url('../fonts/firasans-light-webfont.eot');
  src: url('../fonts/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/firasans-light-webfont.woff') format('woff'),
  url('../fonts/firasans-light-webfont.ttf') format('truetype'),
  url('../fonts/firasans-light-webfont.svg#firasans-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'firasans-italic';
  src: url('../fonts/firasans-italic-webfont.eot');
  src: url('../fonts/firasans-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/firasans-italic-webfont.woff') format('woff'),
  url('../fonts/firasans-italic-webfont.ttf') format('truetype'),
  url('../fonts/firasans-italic-webfont.svg#firasans-italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'firasans-medium';
  src: url('../fonts/firasans-medium-webfont.eot');
  src: url('../fonts/firasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/firasans-medium-webfont.woff') format('woff'),
  url('../fonts/firasans-medium-webfont.ttf') format('truetype'),
  url('../fonts/firasans-medium-webfont.svg#firasans-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'firasans-regular';
  src: url('../fonts/firasans-regular-webfont.eot');
  src: url('../fonts/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/firasans-regular-webfont.woff') format('woff'),
  url('../fonts/firasans-regular-webfont.ttf') format('truetype'),
  url('../fonts/firasans-regular-webfont.svg#firasans-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'firasans-mediumitalic';
  src: url('../fonts/firasans-mediumitalic-webfont.eot');
  src: url('../fonts/firasans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/firasans-mediumitalic-webfont.woff') format('woff'),
  url('../fonts/firasans-mediumitalic-webfont.ttf') format('truetype'),
  url('../fonts/firasans-mediumitalic-webfont.svg#firasans-mediumitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather-regular';
  src: url('../fonts/merriweather-regular-webfont.eot');
  src: url('../fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/merriweather-regular-webfont.woff') format('woff'),
  url('../fonts/merriweather-regular-webfont.ttf') format('truetype'),
  url('../fonts/merriweather-regular-webfont.svg#merriweather-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather-bold';
  src: url('../fonts/merriweather-bold-webfont.eot');
  src: url('../fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/merriweather-bold-webfont.woff') format('woff'),
  url('../fonts/merriweather-bold-webfont.ttf') format('truetype'),
  url('../fonts/merriweather-bold-webfont.svg#merriweather-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather-light';
  src: url('../fonts/merriweather-light-webfont.eot');
  src: url('../fonts/merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/merriweather-light-webfont.woff') format('woff'),
  url('../fonts/merriweather-light-webfont.ttf') format('truetype'),
  url('../fonts/merriweather-light-webfont.svg#merriweather-light') format('svg');
  font-weight: normal;
  font-style: normal;
}