&.section-cols {
  background: #d9d9d9;
  color: #404040;

  .back-btn {
    float: right;
  }

  .btn-arrow{
    height: 34px;
  }

  .links {
    @include clearfix();
  }

  h2 {
    background: image-url('bg/h2-about-bg.jpg');
  }

  .post {
    position: relative;
    background: #fff;

    .date {
      font-family: $firasans-bold;
      color: #bfbfbf;
      text-transform: uppercase;
    }

    .node-readmore a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: #d4cebe;
      @include text-hide();
      @include transition(all .3s);

      &:before {
        @include oneline-sprite-box($icons, arr-right-post);
        @include transition(all .3s);
      }

      &:hover {
        background: #eae4d2;
      }
    }
  }
}