&.section-bottom {
  background: #7a7a7a;
  font-family: $firasans-regular;
  z-index: 10;
  position: relative;

  h3 {
    color: #e5e5e5;
    position: relative;
    font-family: $merriweather-regular;
  }

  .listen {
    display: inline-block;
    vertical-align: top;

    h3:before {
      @include pseudo-block($left: 0, $top: 50%);
      @include oneline-sprite-box($icons, icon-listen);
      @include transform(translateY(-50%));
    }

    p {
      margin: 0 0 24px 0;
      line-height: 1.9;
    }

    .links {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 20px;

        a {
          display: inline-block;
          width: 230px;
          padding: 7px 25px 6px 25px;
          font-family: $firasans-bold;
          font-size: 17px;
          color: #a6a6a6;
          background: #5c5c5c;
          position: relative;
          @include transition(all .3s);

          &:before {
            @include pseudo-block($top: 0, $right: 0);
            @include oneline-sprite-box($icons, arr-listen);
          }

          &:hover {
            text-decoration: none;
            opacity: .7;
          }
        }
      }
    }
  }

  .helpful {
    display: inline-block;

    h3:before {
      @include pseudo-block($left: 0, $top: 50%);
      @include oneline-sprite-box($icons, icon-helpful);
      @include transform(translateY(-50%));
    }

    .division {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        color: #333;
        position: relative;
        padding: 8px 0 8px 20px;
        border-bottom: 2px solid #8a8a8a;
        font-family: $firasans-medium;

        a{
          color: #333;
        }

        &:before {
          @include pseudo-block($left: 0, $top: 50%);
          @include transform(translateY(-50%));
          width: 6px;
          height: 6px;
          background: #b5ad98;
        }
      }
    }
  }
}