.section-clients {
  padding-bottom: 28px;

  .desc {
    text-align: center;
  }

  h2 {
    margin: 0 0 37px 0;
  }

  .item {
    display: inline-block;
    margin-right: 5%;
    margin-bottom: 25px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .text {
    top: 0;
    bottom: 0;

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
    }
  }

  h4 {
    margin: 0 0 15px 0;
    font-size: 32px;
  }
}