.site-header {
  border-top: 10px solid #9c9583;
  background-image: image-url('bg/header-bg.png');
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .site-container {
    height: 120px;
  }

  .logo {
    position: absolute;
    left: 0;
    top: 0;

    a, img {
      display: block;
    }
  }

  .nav {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: $firasans-bold;
    font-size: 19px;
    text-transform: uppercase;

    .menu {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        border-bottom: 10px solid transparent;

        &.active, &:hover {
          border-bottom: 10px solid #9c9583;

          a {
            color: #fff;
          }
        }
      }

      a {
        color: #b3b3b3;
        padding: 0 13px 14px 13px;
        display: block;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}