.section-contacts {
  font-size: 16px;
  padding-bottom: 143px;

  h2 {
    margin: 0 0 45px 0;
    width: 310px;
    padding-left: 70px;
  }

  .site-container {
    text-align: center;
  }

  p {
    margin: 0;
  }

  .left-part {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-right: 50px;
    text-align: left;

    h2 {
      position: relative;

      &:before {
        top: 15px;
      }
    }

    .contact-item {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 5px;
      line-height: 1.7;
    }
  }

  .right-part {
    display: inline-block;
    vertical-align: top;
    width: 380px;
    text-align: left;

    h2 {
      position: relative;

      &:before {
        top: 20px;
        @include oneline-sprite-box($icons, icon-contact);
      }
    }

    ul {
      margin: 0 0 40px 0;
      padding: 0;
      width: 100%;

      li {
        padding: 7px 0;
        border-bottom: 2px solid #e6e6e6;

        &:last-child {
          border-bottom: none;
        }

        .name {
          display: inline-block;
          width: 160px;
        }
      }
    }

    .contact-item {
      width: 100%;
      line-height: 1.8;

      p {
        margin-bottom: 20px;
      }
    }
  }
}